.product-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  text-align: center;
  align-items: center;
  
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
